html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.75rem;
}

.form-control,
.btn {
	font-size: 1.4rem;
}

.btn-lg {
	font-size: 1.75rem;
}