@import '../../../public/styles/utils/variables.scss';

.passphraseContainer {
    padding: 1.5rem;
    border: 0.1rem solid $athens-gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}