@import "../../../../public/styles/utils/variables.scss";

.certDropBox {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .dropBoxInfoWrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        transition: all 0.5s ease-in-out;

        &.canDrop {
            .icon {
                transition: all 0.5s ease-in-out;
                color: $flamingo;
                transform: translateY(-2rem);
            }
        }

        .label {
            margin-top: 1.6rem;
            margin-right: 6.7rem;
        }

        .icon {
            font-size: 18rem;
        }
    }
}

.verificationStatus {
    margin-bottom: 1.6rem;
    height: auto;
    width: 100%;
    font-size: 2rem;
    text-align: center;

    &.valid {
        color: green;
    }

    &.invalid {
        color: red;
    }
}
