@import "../utils/variables";
@import "../utils/animations";

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: transparentize($black, 0.9);
    transition: background-color 200ms ease-in;

    .modal-dialog {
        background: $white;
        display: flex;
        flex-flow: column;
        animation: slide-in 300ms ease-in-out;
        min-height: 40rem;
        width: 54rem;
        pointer-events: initial;

        &.rounded {
            border-radius: 0.5rem;
        }

        &.modal-fluid {
            min-height: auto;
        }

        &.modal-big {
            min-width: 80rem;
            &-xy {
                min-width: 80rem;
                height: 70rem;
            }
        }

        &.auto-height {
            min-height: auto;

            .modal-body {
                &.modal-colored-container {
                    min-height: auto;
                }
            }
        }

        .modal-header {
            padding: 1.8rem 3.2rem;
            padding-bottom: 1.6rem;
            font-size: 2rem;
            display: flex;
            position: relative;
            .close {
                margin-left: auto;
                cursor: pointer;
                transition: transform 0.1s;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .modal-body {
            display: flex;
            flex-flow: column;
            flex: 1;
            padding: 1.8rem 3.2rem;
            max-height: 70rem;
            overflow: auto;
        }

        .modal-footer {
            padding: 1.8rem 3.2rem;
            margin-top: auto;
            display: flex;
            &.big {
                padding: 3.2rem;
            }
        }

        &.modal-small {
            min-height: auto;
            .modal-body {
                .modal-colored-container {
                    min-height: auto;
                    padding: 3.2rem 3rem;
                    margin-bottom: initial;
                }
            }
        }
    }
}
