.spinnerWrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	.spinner {
		display: inline-block;
		width: 80px;
		height: 80px;

		&:after {
			content: " ";
			display: block;
			width: 64px;
			height: 64px;
			margin: 8px;
			border-radius: 50%;
			border: 6px solid orangered;
			border-color: orangered transparent orangered transparent;
			animation: rotate 1.2s linear infinite;
		}
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
