.verificationCheck {
    padding: 0.5rem 1rem;
    background: green;
    color: white;
    width: fit-content;
    border-radius: 3rem;
    margin-left: 1.6rem;

    &.pending {
        background-color: orange;
    }

    .icon {
        margin-right: 0.4rem;
    }
}
